* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    min-width: 320px;
}

.bg {
    background-color: #f9f4f5;
    /* background: linear-gradient(-4deg, rgba(248,248,248,1) 42%, rgba(240,240,240,1) 42%); */
    background: linear-gradient(-4deg, rgba(248,248,248,1) 42%, rgba(226,226,226,1) 42%, rgba(240,240,240,1) 52%);
    /* background: linear-gradient(-4deg, rgba(56,56,56,1) 42%, rgba(51,51,51,1) 42%); */
    min-height: 100vh;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper {
    border: 1px solid #ccc;
    /* border-color: #222; */
    border-radius: 4px;
    background-color: #f8f8f8;
    /* background-color: #333333; */
    padding: 20px 40px;
    max-width: 600px;
    width: 100%;
    margin-top: 20px;
}

.credit {
    color: #444;
    margin: 8px 0 20px 0;
    font-size: 12px;
}

h1 {
    margin: 10px 0 5px 0;
    font-weight: 100;
}

.title-line {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    width: 100px;
}

h3 {
    color: #444;
    font-size: 14px;
    font-weight: normal;
    margin-top: 0;
}

form {
    margin: 0 -8px;
}

.item {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    width: 100%;
}

.item.complete {
    text-decoration: line-through;
}

.item-icons {
    display: inline-block;
    margin-left: 10px;
    white-space: nowrap;
}

.item.archive .MuiFormControlLabel-label.Mui-disabled {
    color: #444;
}

.loading-archive {
    margin-top: 20px;
}

.MuiLinearProgress-root {
    margin-bottom: 5px;
}

.MuiSnackbarContent-root.success-snackbar {
    background-color: #4caf50;
}