* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    min-width: 320px;
}

.dark.bg {
    background: linear-gradient(-4deg, rgba(56,56,56,1) 42%, rgba(51,51,51,1) 42%);
}

.dark .wrapper {
    border-color: #222;
    background-color: #424242;
}

body .dark, .dark .credit {
    color: white;
}

.dark h3, .dark .item.archive .MuiFormControlLabel-label.Mui-disabled {
    color: #BBB;
}

.dark .MuiFormControlLabel-root.Mui-disabled .MuiButtonBase-root {
    color: rgba(244, 98, 30, .5);
}

.dark.item.active {
    color: white;
}

.bg {
    /* filter: invert(); */
    background-color: #f9f4f5;
    /* background: linear-gradient(-4deg, rgba(248,248,248,1) 42%, rgba(240,240,240,1) 42%); */
    background: linear-gradient(-4deg, rgba(248,248,248,1) 42%, rgba(226,226,226,1) 42%, rgba(240,240,240,1) 52%);
    min-height: 100vh;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper {
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    padding: 20px 40px;
    max-width: 640px;
    width: 100%;
    margin-top: 20px;
}

.top-right-btns {
    float: right;
    margin-right: -15px;
}

.credit {
    color: #444;
    margin: 8px 0 20px 0;
    font-size: 12px;
}

h1 {
    margin: 0 0 5px 0;
    font-weight: 100;
}

.title-line {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    width: 100px;
}

h3 {
    color: #444;
    font-size: 14px;
    font-weight: normal;
    margin-top: 0;
}

form {
    margin: 0 -8px;
}

.item {
    align-items: center;
    display: flex;
    margin-bottom: 10px;
    width: 100%;
    word-break: break-word;
    
    /* restoring default mui body text styling that is not present on new span labels */
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    letter-spacing: 0.00938em;
}

.item.item.archive > label > .MuiTypography-root {
    cursor: text;
}

.MuiFormControlLabel-root.Mui-disabled .MuiButtonBase-root {
    color: rgba(63, 81, 181, .5);
}

.item .MuiFormControlLabel-root {
    margin-right: 5px;
}

.item.complete {
    text-decoration: line-through;
}

.item-icons {
    display: inline-block;
    white-space: nowrap;
    margin-right: -15px;
    margin-left: auto;
}

.horizontal-collapse.MuiCollapse-container {
    width: 0px;
    transition: width 3s;
    transition-property: width;
    display: inline-flex;
    overflow-x: hidden;
    white-space: nowrap;
}

.horizontal-collapse.MuiCollapse-entered {
    width: 100%
}

.horizontal-collapse.MuiCollapse-hidden {
    width: 0px
}

.item.archive .MuiFormControlLabel-label.Mui-disabled {
    color: #444;
}

.loading-archive {
    margin-top: 20px;
}

.MuiLinearProgress-root {
    margin-bottom: 5px;
}

.MuiSnackbarContent-root.success-snackbar {
    background-color: #4caf50;
}

.item > label > .MuiTypography-root {
    line-height: 1.2;
}

.item.active .MuiCheckbox-root {
    margin-left: -11px;
}

.MuiButtonBase-root.draghandle {
    padding: 0px;
    width: 44px;
    height: 44px;
}

.MuiButtonBase-root.draghandle .MuiIconButton-label {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.help-operations {
    list-style-type: none;
}

.help-operations li {
    display: flex;
    margin-bottom: 8px;
    align-items: center;
}

.help-operations li svg, .help-operations li button {
    margin-right: 8px;
}

.help-operations.light li svg:not(.MuiSvgIcon-colorPrimary) {
    color: rgba(0, 0, 0, 0.54);
}

.contact {
    font-size: 13px;
    margin-top: 25px;
}

@media only screen and (max-width: 500px) {
    .dark.bg {
        background-image: none;
        background-color: #333333;
    }

    .dark .wrapper { 
        background: 0;
    }

    .bg {
        background-color: rgba(248,248,248,1);
        background-image: none;
        align-items: flex-start;
        justify-content: space-between;
        overflow: hidden;
    }
    
    h1 {
        margin-top: 10px;
        font-size: 24px;
        font-weight: 500;
    }

    .title-line {
        width: 100%;
    }

    .credit {
        margin-bottom: 10px;
    }

    .wrapper {
        margin-top: 0;
        padding: 0 0 0 0;
        border: none;
        background: 0;
    }

    .item .MuiIconButton-root, .top-right-btns .MuiIconButton-root {
        padding: 8px;
    }

    .MuiButtonBase-root.draghandle {
        width: 36px;
        height: 36px;
        padding: 0;
    }

    .item > label > .MuiTypography-root {
        line-height: 1.1;
    }

    .item {
        margin-bottom: 10px;
    }

    .item .item-icons, .top-right-btns {
        margin-right: -10px;
    }

    .top-right-btns {
        margin-top: 4px;
    }
    
    .help-operations {
        padding-left: 16px;
    }
    
  }